In [1]:
import pandas as pd

In [2]:
excel = pd.ExcelFile('Example-inputs.xlsx')

Data to extract:
    Follower Dashboard
    - Yearly:
        Sales, Net Income, Cash
        Gross P. margin, Net P. margin
        Cash in Bank, Accounts Receivable, Accounts Payable
        Ratios
    - Monthly:
        Sales Actual vs Forecast 
        Sales Concentration
        Cash flow
    Business Dashboard
    - Yearly:
        Cash in Bank, Accounts Receivable, Accounts Payable
        Stock turns and accounts payable turns
    - Monthly:
        Sales Concentration
        Expenses
        Products

### Yearly data

In [3]:
year_data = excel.parse(excel.sheet_names[0])

In [4]:
# Sales concentration
sales_names = []
sales_15 = []
sales_16 = []
sales_17 = []
for i in range(3, 9):
    sales_names.append(year_data['Unnamed: 2'].iloc[i])
    sales_15.append(year_data['FY 2015'].iloc[i])
    sales_16.append(year_data['FY 2016'].iloc[i])
    sales_17.append(year_data['FY 2017'].iloc[i])
    if year_data['Unnamed: 2'].iloc[i] == 'All Other Customers':
        break

In [5]:
# Sales, net income, cash
yearly_sales = []
total_sales = year_data[year_data['Unnamed: 2'] == 'Total Sales']
yearly_sales.append(total_sales.iloc[0]['FY 2015'])
yearly_sales.append(total_sales.iloc[0]['FY 2016'])
yearly_sales.append(total_sales.iloc[0]['FY 2017'])

In [6]:
# Gross profit margin
gross = []
gross_margin = year_data[year_data['Unnamed: 2'] == 'Profit Margin %']
gross.append(gross_margin.iloc[0]['FY 2015'])
gross.append(gross_margin.iloc[0]['FY 2016'])
gross.append(gross_margin.iloc[0]['FY 2017'])
# Net profit margins
net = []
net_margin = year_data[year_data['Unnamed: 2'] == 'Net Profit Margin %']
net.append(net_margin.iloc[0]['FY 2015'])
net.append(net_margin.iloc[0]['FY 2016'])
net.append(net_margin.iloc[0]['FY 2017'])

In [7]:
# Cash in Bank
cash_bank = []
cashes_bank = year_data[year_data['Unnamed: 1'] == 'Cash & Equivalents']
cash_bank.append(cashes_bank.iloc[0]['FY 2015'])
cash_bank.append(cashes_bank.iloc[0]['FY 2016'])
cash_bank.append(cashes_bank.iloc[0]['FY 2017'])
# Accounts Receivable
accounts_receivable = []
receivables = year_data[year_data['Unnamed: 1'] == 'Accounts Receivable']
accounts_receivable.append(receivables.iloc[0]['FY 2015'])
accounts_receivable.append(receivables.iloc[0]['FY 2016'])
accounts_receivable.append(receivables.iloc[0]['FY 2017'])
# Accounts Payable
accounts_payable = []
payable = year_data[year_data['Unnamed: 1'] == 'Accounts Payable']
accounts_payable.append(payable.iloc[0]['FY 2015'])
accounts_payable.append(payable.iloc[0]['FY 2016'])
accounts_payable.append(payable.iloc[0]['FY 2017'])

In [20]:
# Quick Ratio
quick_ratio = []
current_liabilities = []
liabilities = year_data[year_data['Unnamed: 1'] == 'Current Liabilities']
current_liabilities.append(liabilities.iloc[0]['FY 2015'])
current_liabilities.append(liabilities.iloc[0]['FY 2016'])
current_liabilities.append(liabilities.iloc[0]['FY 2017'])
for i in range(len(current_liabilities)):
    quick_ratio.append((cash_bank[i] + accounts_receivable[i])/current_liabilities[i])
    
# Current Ratio
current_ratio = []
current_assets = []
assets = year_data[year_data['Unnamed: 1'] == 'TOTAL CURRENT ASSETS']
current_assets.append(assets.iloc[0]['FY 2015'])
current_assets.append(assets.iloc[0]['FY 2016'])
current_assets.append(assets.iloc[0]['FY 2017'])
for i in range(len(current_assets)):
    current_ratio.append(current_assets[i]/current_liabilities[i])

In [46]:
# Inventory turns
cost_goods_yearly = []
inventory_yearly = []
goods = year_data[year_data['Unnamed: 1'] == 'Cost of Goods Sold']
cost_goods_yearly.append(goods.iloc[0]['FY 2015'])
cost_goods_yearly.append(goods.iloc[0]['FY 2016'])
cost_goods_yearly.append(goods.iloc[0]['FY 2017'])
inventory = year_data[year_data['Unnamed: 1'] == 'Inventory']
inventory_yearly.append(inventory.iloc[0]['FY 2015'])
inventory_yearly.append(inventory.iloc[0]['FY 2016'])
inventory_yearly.append(inventory.iloc[0]['FY 2017'])
inventory_turns = []
for i in range(len(cost_goods_yearly)):
    inventory_turns.append(cost_goods_yearly[i]/inventory_yearly[i])

In [47]:
inventory_turns

8.1999999999999993

### Monthly data

In [8]:
month_data = excel.parse(excel.sheet_names[1], header=None)

In [9]:
# Sales actual vs forecast
actual_sales = month_data[month_data[2] == 'Total Sales'].iloc[0][5]
forecast_sales = month_data[month_data[1] == '$ Sales projections for 6 M out'].iloc[0][5]

In [27]:
# Cash flow
net_income = month_data[month_data[1] == 'Net Income'].iloc[0][5]
# depreciation = month_data[month_data[1] == 'Depreciation and Amortization'].iloc[0][5]
# expenses = forecast_sales - net_income
# flow = depreciation + net_income

In [37]:
# Expenses pie
cost_goods = month_data[month_data[1] == 'Cost of Goods Sold'].iloc[0][5]
payroll_costs = month_data[month_data[1] == 'Payroll Costs'].iloc[0][5]
rent = month_data[month_data[1] == 'Rent/ Leases'].iloc[0][5]
general = month_data[month_data[1] == 'Sales, General & Administrative'].iloc[0][5]
other_1 = month_data[month_data[1] == 'Other & Miscellaneous'].iloc[0][5]
other_2 = month_data[month_data[1] == 'Other #2 ______________'].iloc[0][5]
other = other_1 + other_2
interest = month_data[month_data[1] == 'Interest Expense'].iloc[0][5]
taxes = month_data[month_data[1] == 'Taxes'].iloc[0][5]

In [62]:
month_data

,0,1,2,3,4,5
0,NaN,NaN,CURRENT MONTH,NaN,NaN,2018-04-01 00:00:00
1,Income Statement Information,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,$ Sales by top customers,NaN,NaN,NaN,NaN
4,NaN,NaN,Customer A,NaN,NaN,25
5,NaN,NaN,Customer B,NaN,NaN,200
6,NaN,NaN,Customer C,NaN,NaN,37
7,NaN,NaN,Customer D,NaN,NaN,82
8,NaN,NaN,Customer E,NaN,NaN,49
9,NaN,NaN,All Other Customers,NaN,NaN,440
10,NaN,NaN,Total Sales,NaN,NaN,833
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,$ Sales projections for 6 M out,NaN,NaN,NaN,900
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Cost of Goods Sold,NaN,NaN,NaN,520
16,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Payroll Costs,NaN,NaN,NaN,100
18,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Rent/ Leases,NaN,NaN,NaN,75
20,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,"Sales, General & Administrative",NaN,NaN,NaN,62
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Other & Miscellaneous,NaN,NaN,NaN,25
24,NaN,Other #2 ______________,NaN,NaN,NaN,0
25,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,EBIT,NaN,NaN,NaN,51
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Interest Expense,NaN,NaN,NaN,0
29,Rate,NaN,NaN,NaN,NaN,NaN
30,0.25,Taxes,NaN,NaN,NaN,12.75
31,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Net Income,NaN,NaN,NaN,38.25
33,NaN,NaN,Net Profit Margin %,NaN,NaN,0.0459184
34,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN
36,PRODUCTION INFORMATION,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,in UNITS!!!,NaN,NaN,NaN
38,NaN,+ Ending Inventory / - Outstanding Orders,NaN,NaN,NaN,NaN
39,NaN,NaN,If Pos Beginning inventory/ If Neg (Outstandin...,NaN,NaN,25
40,NaN,NaN,# Made (Added to inventory),NaN,NaN,10
41,NaN,NaN,# Sold (removed from inventory),NaN,NaN,15
42,NaN,NaN,+ Ending Inventory/ -Outstanding Orders,NaN,25.0,20